<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJHe-5YJ7it8rQHL_Q8yBiHknI4RbSJ_4</string>
	<key>GCM_SENDER_ID</key>
	<string>99008458353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mansy.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-447fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-447fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99008458353:ios:237692f205cd6a475ef5d0</string>
</dict>
</plist>